<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <h3> Current Home: </h3>
  <%= if Home.exists?(1)
        link_to("Go To Home", '/homes/1')
      else
        link_to("Create Home", '/homes')
      end %>

  </br>
</div>
