<div class="center jumbotron">
  <h1>Welcome to Roomey</h1>

  <h2>
    This is the homepage for Roomey
  </h2>
  <% if logged_in? %>
  	
  <% else %>
  	<%= link_to "Log in", '/login' %>
  	<br>
  	<%= link_to("Sign up now!", '/signup') %>
  <% end %>
  <br>
  <%= link_to("Create Homes", '/homes') %>

</div>
